.gradle/
.settings/
bin/
blender_project/
modelsafe/
.idea
classes
eclipse
gradle
build
out
run
gradlew*
MinecraftForge*
*fml*


# minecraft

saves
resourcepacks
mods
config
crash-reports
logs
screenshots

# IntelliJunk
*.iml
*.ipr
*.iws